
<h1> Reddit Homepage </h1>


<div>
  <ol>

  <% @links.each do |link| %>
    <li><a href="<%= link.title %>"><%= link.title %></a>
    <p>Posted by: <%= link.user.username %> </p>
    <p>Number of Upvotes: <%= link.scores %></p>
    <%= button_to 'Upvote', upvote_link_path(link.id),  method: :post %>
    <% end %>
  </ol>
</div>
